<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vadim.nakatani" >

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-sdk android:minSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--<intent-filter>-->
                <!--<action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />-->
            <!--</intent-filter>-->

            <!--<meta-data-->
                <!--android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"-->
                <!--android:resource="@xml/usbdevice" />-->
        </activity>

        <activity
            android:name=".activitys.TestActivity"
            android:label="Test"
            android:parentActivityName=".MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".activitys.CalibrationActivity"
            android:label="@string/title_activity_calibration"
            android:parentActivityName=".MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>
